/*@font-face {*/
    /*font-family: 'Museo Sans 100 Thin';*/
    /*src: url('MuseoSansCyrl-100.eot');*/
    /*src: url('MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),*/
    /*url('MuseoSansCyrl-100.woff') format('woff'),*/
    /*url('MuseoSansCyrl-100.ttf') format('truetype');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
/*{font-family: 'Museo Sans 100 Thin';}*/
@font-face {
    font-family: 'Museo Sans 100 Thin';
    src: url('MuseoSans/MuseoSansCyrl-100.woff');
    format('embedded-opentype'),
    url('MuseoSansCyrl-100.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}
.main {
    background: url("media/bg.jpg");
    background-size: cover;


}
.main__div {
    width: 686px;
    height: 391px;
    background: #111a28;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 109px auto;
    position: relative;

}
.div__left {
    width: 404px;
    height: 391px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 0;
    margin: 0;
    position: absolute;
}
.div__right {
    width: 282px;
    height: 388px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 0;
    margin: 0;
    position: absolute;
    left: 404px;
    padding-left: 39px;
}
.logo__img {
    margin-top: 24px;
    margin-left: 20px;
}
.img__picture {
    margin-top: 67px;
    margin-left: 36px;
}
.slide {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 75px;
    margin-left: 186px;
}
.slide:hover {
    border: 1px solid #7b8188;
    transform: scale(1.3);
}
.slide__1 {
    background: #1f273f;
}
.slide__2 {
    background: #ffffff;
    margin-left: 7px;
}
.slide__3 {
    background: #ed3333;
    margin-left: 7px;
}
.slide__4 {
    background: #29e3ea;
    margin-left: 7px;
}
.div__right--name {
    font-family:'Museo Sans 100 Thin', sans-serif;
    font-size: 24px;
    color: #e1e1e1;
    display: inline-block;
    margin-top: 71px;

}
.div__right--sort {
    font-family:'Museo Sans 100 Thin', sans-serif;
    font-size: 14px;
    color: #66707a;
    display: inline-block;
    margin-top: 7px;
}
.stars {
    display: inline-block;
}
.stars input {
    display: none;
}
.stars label {
    display: inline;
    margin: 4px;
    width: 9px;
    height: 9px;
    background: url("media/yellow.png");
    background-size: cover;
    float: right;
    cursor: pointer;
}
.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label{
    background: url("media/yellow full.png");
    background-size: cover;
}

.div__right--size {
    background: #111a28;
    width: 69px;
    height: 32px;
    color: #797d84;
    border: 1px solid #4f5560;
    text-align: right;
    font-family:'Museo Sans 100 Thin', sans-serif;
    font-size: 14px;
    outline: none;
    margin-top: 24px;
    margin-right: 3px;
}
.div__right--size:hover {
    cursor: pointer;
    outline: none;
    background: #1e324a
}
.div__right--qty {
    background: #111a28;
    width: 69px;
    height: 32px;
    color: #797d84;
    border: 1px solid #4f5560;
    text-align: right;
    font-family:'Museo Sans 100 Thin', sans-serif;
    font-size: 14px;
    outline: none;
}
.div__right--qty:hover {
    cursor: pointer;
    outline: none;
    background: #1e324a
}
.div__right--button1 {
    width: 184px;
    height: 40px;
    background: #202835;
    color: #80848b;
    border: 1px solid #4f5560;
    margin-top: 29px;
    outline: none;
}
.div__right--button1:hover {
    cursor: pointer;
    outline: none;
    background: #41566b;
}